@inherits LayoutComponentBase
@using CodeTogether.Client.Services
@inject UserStateService user
@inject NavigationManager nav
@inject HttpClient http

<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="top-row-left">
                <button class="btn btn-dark" @onclick="GoHome">Home</button>
            </div>
            <div class="top-row-right">
                <span>@usernameText</span>
                <button class="btn btn-dark" @onclick="Logout">Logout</button>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    string usernameText = "Loading...";


    // TODO: trigger a rerender of the layout when the user is changed (e.g. when logging in)
    // maybe add an event on UserStateService and add this components StateHasChanged?
    protected override async Task OnInitializedAsync()
    {
        var username = await user.GetUserName();
        usernameText = username == null ? "Not logged in" : $"Hello {username}";
        StateHasChanged();
    }

    void GoHome() => nav.NavigateTo("/");

    async Task Logout()
    {
        await http.PostAsync("api/account/logout", null);
        nav.NavigateTo("/login");
    }
}
