@inherits LayoutComponentBase
@using CodeTogether.Client.Services
@using CodeTogether.Client.Integration 
@inject UserStateService user
@inject NavigationManager nav
@inject HttpClient http
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


<div class="page">
    <main>
        <div class="top-row px-4">
            <div class="top-row-left">
                <button class="btn btn-dark" @onclick="GoHome">Home</button>
            </div>
            <div class="top-row-right">
                <span>@usernameText</span>
                <button class="btn btn-dark" @onclick="Logout">Logout</button>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    string usernameText = "Loading...";


    protected override void OnInitialized()
    {
        SetUsername(this, new());
        user.UsernameChanged += SetUsername;
    }

    void SetUsername(object? sender, EventArgs eventArgs)
    {
        Task.Run(async () =>
        {
            var userInfo = await user.GetUserName();
            usernameText = userInfo == null ? "Not logged in" : $"Hello {userInfo.Name}";
            StateHasChanged();
        });
    }

    void GoHome() => nav.NavigateTo("/");

    async Task Logout()
    {
        await http.PostAsync("api/account/logout", null);
        user.ResetCache();
        SetUsername(this, new ());
        nav.NavigateTo("/login");
    }
}
