@using System.ComponentModel.DataAnnotations
@using CodeTogether.Client.Integration.Execution

<div class="test-view">
    <div id="infoDropdown">
        <button class="btn btn-primary btn-alignLeft dropdown-toggle" style="width: 100%; margin: 5px;" id="dropdownMenuButton" @onclick="ToggleInfo">
            @TestCase.Name
        </button>
        @if (showInfo)
        {
            <div>
                <p></p>
                <p>@TestCase.Description</p>
                <p></p>
                <p>Arguments: @string.Join(", ", TestCase.Arguments)</p>
                <p>Expected Response: @TestCase.ExpectedResponse</p>
            </div>
        }
    </div>
</div>

@code 
{
    [Parameter] public required TestCaseDto TestCase { get; set; }

    bool showInfo = false;

    void ToggleInfo()
    {
        showInfo = !showInfo;
    }
}