@using System.ComponentModel.DataAnnotations
@using CodeTogether.Client.Integration.Execution

<div class="test-view">
    <h5>@TestCase.Name</h5>
    <div>
        <p></p>
        <p>@TestCase.Description</p>
        <p></p>
        <p>Arguments: @string.Join(", ", TestCase.Arguments)</p>
        <p>Expected Response: @TestCase.ExpectedResponse</p>
    </div>
</div>

@code 
{
    [Parameter] public required TestCaseDto TestCase { get; set; }
}