@page "/"
@using CodeTogether.Client.Components
@using CodeTogether.Client.Services
@inject UserStateService user
@inject NavigationManager navigation

<PageTitle>Home</PageTitle>

<h2>Welcome to CodeTogether.</h2>

<GameCreator />
<GameList />

@code {
    bool HasLoaded = false;
}