@page "/question-info"
@inject HttpClient Http
@using CodeTogether.Client.Components.Execution
@using CodeTogether.Client.Integration.Execution

@if (question is not null)
{
    <QuestionView Question="@question"/>
}
else
{
    <p>Loading Question...</p>
}
<TestView/>
@code {
    QuestionDTO? question;

    protected override async Task OnInitializedAsync()
    {
        question = await Http.GetFromJsonAsync<QuestionDTO>($"api/question/get/{Guid.NewGuid()}");
    }
}
